.BoardItem {
    overflow: hidden;
    aspect-ratio: 2/1;
    width: 200px;
    border-radius: 12.5% / 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 inset;
    transition: box-shadow 0.3s ease-in-out;
}
