@mixin centerFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.Navbar {
    @include centerFlex;

    background-color: var(--Primairy-color);
    width: 100%;
    height: 4rem;

    justify-content: space-between;
    flex-flow: row;

    & > * {
        height: 100%;
        width: min-content;
    }

    & > a {
        @include centerFlex;
    }
}

.RightNav {
    align-items: flex-end !important;
}

.LeftNav {
    align-items: flex-start !important;
}

.NavMenu {
    width: 100%;

    @include centerFlex;
    flex-flow: column;

    padding: 0px 4% 0px 4%;
}

.NavLink {
    background-image: linear-gradient(90deg, var(--Link-color), var(--Link-hover-color), var(--Link-color));
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--Link-color);
    border-radius: 12.5% / 50%;
    padding: 2% 10%;
    font-weight: bold;
    transition: background-size 0.25s ease-out;

    &.active {
        background-color: rgba(190, 190, 190, 0.801);
        color: var(--Link-color-bright);
    }

    &:hover {
        text-decoration: none;
    
        background-size: 100% 3px;
    
        color: var(--Link-hover-color);
    }
}

.NavImage {
    object-fit: cover;
    width: auto;
    height: 80%;
}
