:root {
    --Primairy-color: #2898FF;
    --Primairy-background-color: #FAFBFC;
    --Link-color: #0047FF;
    --Link-hover-color: #002994;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: Bahnschrift, 'Trebuchet MS', 'Franklin Gothic Medium', Dubai, 'Century Gothic', Consolas;
}

*::after, *::before {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    height: 100%;
}

body {
    background-color: var(--Primairy-background-color);
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

a:hover {
    text-decoration-color: var(--Link-hover-color);
    text-decoration-thickness: 4px;
}


#content-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: auto;
    overflow-y: auto;
}
