.PinBoardItemBase {
    overflow: hidden;
    aspect-ratio: 2/1;
    min-width: 15em;
    width: 15em;
    display: flex;
    justify-content: center;
    align-items: center;

    & p {
        font-weight: 600;
        font-size: 1.3em;
        word-wrap: break-word;
        word-break: break-word;
        text-align: center;
    }

    & .PlusIcon {
        object-fit: contain;
        height: 25%;
        filter: invert(100%);
    }
}

.PinBoardItemRadius {
    border-radius: 2em;
}

.PinBoardItemShadows {
    transition: box-shadow 0.3s ease-in-out;
    --bgShad: 0 0 0.1em 0.05em rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 0 transparent inset, var(--bgShad);

    &:hover {
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.1) inset, var(--bgShad);
        &[invert=false] {
            box-shadow: 0 0 0 100vmax  rgba(0, 0, 0, 0.1) inset, var(--bgShad);
        }
        &[invert=true] {
            box-shadow: 0 0 0 100vmax  rgba(255, 255, 255, 0.1) inset, var(--bgShad);
        }
    }
}