.Navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    background-color: var(--bs-primary);
    width: 100%;
    height: 4rem;

    justify-content: space-between;
    flex-flow: row;

    & > * {
        height: 100%;
        width: min-content;
    }

    & > a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
}

.RightNav {
    align-items: flex-end !important;
}

.LeftNav {
    align-items: flex-start !important;
}

.NavMenu {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-flow: column;

    padding: 0px 3.5em 0px 3.5em;
}

.NavLink {
    background-image: linear-gradient(90deg, var(--bs-dark), var(--bs-secondary), var(--bs-dark));
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: var(--bs-gray-100);
    color: var(--bs-primary);
    border-radius: 12.5% / 50%;
    padding: 0.75em 3.5em;
    font-weight: bold;
    transition: background-size 0.25s ease-out;

    &.active {
        background-color: var(--bs-light);
        color: var(--bs-gray-200);
    }

    &:hover {
        text-decoration: none;
    
        background-size: 100% 3px;
        color: var(--bs-secondary);
    }

    &:hover.active {
        color: var(--bs-gray-100);
    }
}

.NavImage {
    object-fit: cover;
    width: auto;
    height: 80%;
}
