$primary:       #6A4EF5 !default;
$secondary:     #847DFF !default;
$info:          #efe5fb !default;
$light:         #9B92FF !default;
$dark:          #3F22BF !default;

@import "~bootstrap/scss/bootstrap";

body,
html {
    margin: 0;
    height: 100% !important;
}

body {
    background-color: var(--bs-gray-100);
}

* {
    font-family: Bahnschrift, 'Trebuchet MS', 'Franklin Gothic Medium', Dubai, 'Century Gothic', Consolas;
    font-weight: 350;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: solid 4px var(--bs-secondary);
    }
}

.section-header {
    display: flex;
    align-items: center;
    color: var(--bs-gray-600);

    img {
        height: 0.9em;
        filter: invert(0.4);
        object-fit: contain;
    }
}

#content-container,
.page-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: auto;
    overflow-y: auto;
}

.btn {
    &:focus {
        box-shadow: unset;
    }
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.popup-content,
.popup-arrow {
    color: var(--bs-primary)
}

.img-invert {
    filter: invert(1);
}

.scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: lightgray transparent;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        height: 0.5em;
        width: 0.5em;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: lightgray;

        &:hover {
            background: gray;
        }
    }
}

@for $i from 1 through 20 {
    $size: $i * 5;
    $percentage: percentage(calc($size / 100));
    .w-#{$size} {
        width: $percentage !important
    }

    .max-w-#{$size} {
        max-width: $percentage !important
    }
    
    .min-w-#{$size} {
        min-width: $percentage !important
    }

    .h-#{$size} {
        height: $percentage !important
    }

    .max-h-#{$size} {
        max-height: $percentage !important
    }
    
    .min-h-#{$size} {
        min-height: $percentage !important
    }
}

@for $i from 0 through 10 {
    @for $j from 0 through 3 {
        .w-#{$i}-#{$j}em {
            width: $i + ($j * 0.25) + em
        }
    
        .h-#{$i}-#{$j}em {
            height: $i + ($j * 0.25) + em
        }
    }
}