.BoardContainer {
    display: flex;
    flex-direction: row;
    overflow: auto;
    width: 100%;

    scrollbar-width: thin;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        height: 0.5em;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;

        &:hover {
            background: #555;
        }
    }
}
