.BoardScrollContainer {
    
    background-color: var(--bs-gray-200);
    overflow: auto;
    width: 100%;

    display: flex;

    scrollbar-width: thin;
    scrollbar-color: var(--bs-gray-400) transparent;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        height: 0.5em;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--bs-gray-400);

        &:hover {
            background: var(--bs-gray-600);
        }
    }
}

.SectionHeader {
    color: var(--bs-gray-600);

    img {
        height: 0.9em;
        filter: invert(0.4);
        object-fit: contain;
    }
}

.BoardContainer {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 2em;
}