.WorkspaceItem {

    display: flex;
    justify-content: space-between;

    
    background-color: var(--bs-gray-200);
    padding: 1.5rem;
    border-radius: 2em;

    &:hover {

        .LinkArrow {
            margin-right: 0.5rem;
            filter: invert(0.3);
        }
    }

    .LinkArrow {
        height: 2em;
        object-fit: contain;

        margin-right: 1rem; 
        transition: margin-right 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
}

.WorkspaceDetails {

    & section {
        display: flex;
        flex-direction: column;
        color: black !important;
        &:hover {
            color: var(--bs-gray-700) !important;
        }

        & > div {
            display: flex;
            align-items: center;
            gap: 0.5em;

            & > img {
                width: 1.25em;
                height: 1.25em;
                object-fit: contain;
            }
        }
    }
}