@mixin noteFlexCol {
    display: flex;
    flex-flow: column;
}

.pinNote {
    @include noteFlexCol;
    position: absolute;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.1em 0.05em rgba(0, 0, 0, 0.1);

    & > .pinNote-Header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        height: 1.8rem;
        line-height: 1.8rem;
        font-size: 1.1em;

        font-weight: 450;
        border-bottom: 2px rgba(0, 0, 0, 0.2) solid;

        & .pinNote-Header-Title {
            height: 100%;
            width: 100%;
            text-align: center;
        }

        & .pinNote-Header-Action {
            aspect-ratio: 1;
            height: 100%;

            padding: 0;

            display: flex;
            align-items: center;
            justify-content: center;

            border: none;
            border-left: 2px rgba(0, 0, 0, 0.2) solid;
            background-color: transparent;
        }

    }

    & > .pinNote-Content {
        padding: 1%;
        width: 100%;
        height: auto;
        background-color: rgba(255, 255, 255, 0.1);

        @include noteFlexCol;
        flex-grow: 1;

        & > .pinNote-TextContent {
            white-space: pre-line;
            flex-grow: 1;
        }

    }
}

.PinBoardItem {
    overflow: hidden;
    aspect-ratio: 2/1;
    height: 100px;
    border-radius: 12.5% / 25%;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 0 0 transparent inset;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
        box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.25) inset;
    }

    & > p {
        color: #f5f5f5;
        margin: 0;
        font-weight: 600;
        font-size: 1.3em;
    }
}

.PinBoard {
    position: relative;
}