:root {
    --Primairy-color: #2898FF;
    --Primairy-background-color: #FAFBFC;
   
    --Primairy-button-background: #eceef0;
    --Primairy-button-background-active: #d0d5da;

    --Secondary-color: #7cb8f0;
    --Secondary-background-color: #abd0f3;

    --Link-color: #0047FF;
    --Link-hover-color: #002994;
    --Link-color-bright: #0732a0;
}

body, html {
    margin: 0;
    height: 100%;
}


body {
    background-color: var(--Primairy-background-color);
}

* {
    box-sizing: border-box;
    font-family: Bahnschrift, 'Trebuchet MS', 'Franklin Gothic Medium', Dubai, 'Century Gothic', Consolas;
    font-weight: 350;

    &::after, &::before {
        box-sizing: border-box;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: solid 4px var(--Link-hover-color);
    }
}

#content-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: auto;
    overflow-y: auto;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}