@import "~bootstrap/scss/bootstrap";

body, html {
    margin: 0;
    height: 100%;
}


body {
    background-color: var(--Primairy-background-color);
}

* {
    font-family: Bahnschrift, 'Trebuchet MS', 'Franklin Gothic Medium', Dubai, 'Century Gothic', Consolas;
    font-weight: 350;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: solid 4px var(--Link-hover-color);
    }
}

#content-container, .page-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: auto;
    overflow-y: auto;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.popup-content, .popup-arrow {
    color: var(--bs-primary)
}